## Creating a Test Order

In [14]:
from binance.client import Client
import pandas as pd

In [15]:
keys = pd.read_csv("~/Documents/temp/bnc/api_key.txt", sep=" ", header=None)
api_key = keys[0][0]
secret_key = keys[0][1]

In [16]:
client = Client(api_key = api_key, api_secret = secret_key, tld = "com")

In [17]:
# place a test market buy order
# to place an actual order, use the create_order function
order = client.create_test_order(
    symbol = "BTCEUR", side = "BUY", type = "MARKET", quantity = 0.1)

In [18]:
## Test order with binance.com
order

{}

## Paper Trading with Python and Binance - the Spot Testnet API

More information and getting the credentials:

https://testnet.binance.vision/

In [19]:
keys_test = pd.read_csv("~/Documents/temp/bnc/testnet_key.txt", sep=" ", header=None)
api_key_test = keys_test[0][0]
secret_key_test = keys_test[0][1]

Using the Spot Test Network follows the [official documentation of the Spot API](https://binance-docs.github.io/apidocs/spot/en)

## Creating a connection to the Spot Testnet

In [20]:
# use your testnet credentials with testnet = True
client_test = Client(
    api_key = api_key_test, api_secret = secret_key_test, tld = "com", testnet = True)

In [21]:
client_test

In [22]:
client_test.get_system_status()

{'status': 0, 'msg': 'normal'}

In [23]:
account = client_test.get_account()
account

{'makerCommission': 0,
 'takerCommission': 0,
 'buyerCommission': 0,
 'sellerCommission': 0,
 'canTrade': True,
 'canWithdraw': False,
 'canDeposit': False,
 'updateTime': 1654501001046,
 'accountType': 'SPOT',
 'balances': [{'asset': 'BNB',
   'free': '1000.00000000',
   'locked': '0.00000000'},
  {'asset': 'BTC', 'free': '1.20000000', 'locked': '0.00000000'},
  {'asset': 'BUSD', 'free': '10000.00000000', 'locked': '0.00000000'},
  {'asset': 'ETH', 'free': '100.00000000', 'locked': '0.00000000'},
  {'asset': 'LTC', 'free': '500.00000000', 'locked': '0.00000000'},
  {'asset': 'TRX', 'free': '500000.00000000', 'locked': '0.00000000'},
  {'asset': 'USDT', 'free': '3748.82510957', 'locked': '0.00000000'},
  {'asset': 'XRP', 'free': '50000.00000000', 'locked': '0.00000000'}],
 'permissions': ['SPOT']}

In [24]:
df = pd.DataFrame(account['balances'])
df

  asset             free      locked
0   BNB    1000.00000000  0.00000000
1   BTC       1.20000000  0.00000000
2  BUSD   10000.00000000  0.00000000
3   ETH     100.00000000  0.00000000
4   LTC     500.00000000  0.00000000
5   TRX  500000.00000000  0.00000000
6  USDT    3748.82510957  0.00000000
7   XRP   50000.00000000  0.00000000

In [25]:
df.free = pd.to_numeric(df.free, errors = "coerce")
df.locked = pd.to_numeric(df.free, errors = "coerce")
df

  asset          free        locked
0   BNB    1000.00000    1000.00000
1   BTC       1.20000       1.20000
2  BUSD   10000.00000   10000.00000
3   ETH     100.00000     100.00000
4   LTC     500.00000     500.00000
5   TRX  500000.00000  500000.00000
6  USDT    3748.82511    3748.82511
7   XRP   50000.00000   50000.00000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   asset   8 non-null      object
 1   free    8 non-null      float64
 2   locked  8 non-null      float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes

In [27]:
client_test.get_asset_balance(asset = "BTC")

{'asset': 'BTC', 'free': '1.20000000', 'locked': '0.00000000'}

In [28]:
client_test.get_asset_balance(asset = "ETH")

{'asset': 'ETH', 'free': '100.00000000', 'locked': '0.00000000'}

In [29]:
client_test.get_symbol_ticker(symbol = "BTCUSDT") # current price for one symbol

{'symbol': 'BTCUSDT', 'price': '31240.30000000'}

In [30]:
# get current price for all pairs
client_test.get_all_tickers()

[{'symbol': 'BNBBUSD', 'price': '309.60000000'},
 {'symbol': 'BTCBUSD', 'price': '31218.61000000'},
 {'symbol': 'ETHBUSD', 'price': '1884.40000000'},
 {'symbol': 'LTCBUSD', 'price': '65.50000000'},
 {'symbol': 'TRXBUSD', 'price': '0.08419000'},
 {'symbol': 'XRPBUSD', 'price': '0.40290000'},
 {'symbol': 'BNBUSDT', 'price': '309.80000000'},
 {'symbol': 'BTCUSDT', 'price': '31240.30000000'},
 {'symbol': 'ETHUSDT', 'price': '1885.84000000'},
 {'symbol': 'LTCUSDT', 'price': '65.70000000'},
 {'symbol': 'TRXUSDT', 'price': '0.08423000'},
 {'symbol': 'XRPUSDT', 'price': '0.40320000'},
 {'symbol': 'BNBBTC', 'price': '0.00992800'},
 {'symbol': 'ETHBTC', 'price': '0.06036000'},
 {'symbol': 'LTCBTC', 'price': '0.00209700'},
 {'symbol': 'TRXBTC', 'price': '0.00000269'},
 {'symbol': 'XRPBTC', 'price': '0.00001290'},
 {'symbol': 'LTCBNB', 'price': '0.21150000'},
 {'symbol': 'TRXBNB', 'price': '0.00027180'},
 {'symbol': 'XRPBNB', 'price': '0.00130100'}]

In [31]:
last24 = client_test.get_ticker(symbol = "BTCUSDT") # 24h price change statistic
last24

{'symbol': 'BTCUSDT',
 'priceChange': '1446.11000000',
 'priceChangePercent': '4.854',
 'weightedAvgPrice': '30274.56619988',
 'prevClosePrice': '29796.35000000',
 'lastPrice': '31240.30000000',
 'lastQty': '0.04679400',
 'bidPrice': '31242.50000000',
 'bidQty': '0.08930200',
 'askPrice': '31242.51000000',
 'askQty': '0.09442300',
 'openPrice': '29794.19000000',
 'highPrice': '32325.50000000',
 'lowPrice': '20000.00000000',
 'volume': '4106.89744600',
 'quoteVolume': '124334538.60503393',
 'openTime': 1654414638529,
 'closeTime': 1654501038529,
 'firstId': 5175295,
 'lastId': 5283153,
 'count': 107859}

In [32]:
timestamp = client_test._get_earliest_valid_timestamp(symbol = "BTCUSDT", interval = "1d")
timestamp # earliest data available on Spot Testnet

1651622400000

In [33]:
pd.to_datetime(timestamp, unit = "ms") # gets reset every month

Timestamp('2022-05-04 00:00:00')

In [34]:
# get history function, already used in notebook 04-Getting-Historical-Data-Part-2
# putting it all together (from part 1) in a function
# if end is not specified retrieved data will be till now
def get_history(symbol, interval, start, end = None):
    # get historical data for a certain coin from the API
    # safe data in local variable bars
    bars = client_test.get_historical_klines(symbol = symbol, interval = interval, 
                                        start_str = start, end_str = end, limit = 1000)
    # converting JSON data into data frame
    df = pd.DataFrame(bars)
    # createb additional column Date by converting unixtime into datetime
    df["Date"] = pd.to_datetime(df.iloc[:,0], unit = "ms") # adds a Date column to the end of the table
    # add meaningful column headers
    df.columns = ["Open Time", "Open", "High", "Low", "Close",
              "Volume", "Close Time", "Quote Asset Volume",
              "Number of Trades", "Taker Buy Base Asset Volume",
              "Taker Buy Quote Asset Volume", "Ignore", "Date"]
    # selecting the most important information from the dataframe
    df = df[["Date", "Open", "High", "Low", "Close", "Volume"]].copy()
    # setting the datetime information as index
    df.set_index("Date", inplace = True) # setting the Date column as the index
    # convertion the objects in the columns to floats
    for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors = "coerce")
    # returning the data frame
    return df

In [35]:
df = get_history(symbol = "BTCUSDT", interval = "1d", start = timestamp)
df

                Open       High       Low     Close       Volume
Date
2022-05-04  38127.16   67952.01   9000.00  39695.80  3289.478889
2022-05-05  39690.01   48256.09  12000.00  36551.04  3747.859117
2022-05-06  36552.97   90000.00   9500.00  35844.54  5133.878780
2022-05-07  35851.70  179685.00   2000.00  35472.39  2648.748370
2022-05-08  35472.40  172120.00   6988.00  34035.00  5928.739345
2022-05-09  34036.87   44600.00   6392.00  30092.43  7687.567239
2022-05-10  30089.10   34490.00  10000.00  31017.10  8559.000857
2022-05-11  31016.84  158649.00   5937.00  29098.29  8773.143745
2022-05-12  29098.29   30194.46  10000.00  29025.46  9821.112945
2022-05-13  29022.22   31964.11  28754.13  29288.26  8210.951714
2022-05-14  29288.99  152952.00   5838.00  30086.77  6489.599720
2022-05-15  33984.05   35000.00  21000.00  31328.98  5625.642137
2022-05-16  31328.23  148147.00   6631.29  29871.54  6804.244276
2022-05-17  29871.54   48000.00   6022.00  30444.94  6071.756804
2022-05-18  30444.94   30834.66   9000.00  28710.27  6554.023293
2022-05-19  28715.33   31163.79  23558.00  30319.22  6253.121553
2022-05-20  30319.23   31366.00  28683.55  29201.48  5598.040129
2022-05-21  29201.00   29703.60  28641.57  29445.68  3210.518881
2022-05-22  29445.06   31372.36  28923.96  30295.97  3279.107508
2022-05-23  30293.93   30806.88  28881.97  29106.13  5096.717246
2022-05-24  29106.13   29822.91  28598.35  29654.59  4490.516800
2022-05-25  29654.54   30805.14  28404.13  29542.14  4544.432436
2022-05-26  29542.14   30859.00  28124.42  29212.90  4975.662640
2022-05-27  29212.90   29913.32  27851.89  28620.04  5914.566329
2022-05-28  28620.04   29250.81   6200.00  29031.34  2819.916723
2022-05-29  29031.33   29586.95  28745.26  29468.09  2298.309841
2022-05-30  29468.09  100000.00   9000.00  31734.22  4597.434938
2022-05-31  31734.23   32493.86  31128.88  31798.95  5161.738498
2022-06-01  31798.95   55291.65   9000.00  29800.58  5645.437119
2022-06-02  29800.58   30656.20  10000.00  30452.70  5311.903761
2022-06-03  30452.63   32255.14  29299.88  29701.41  5001.490344
2022-06-04  29701.41   30564.10  29490.62  29865.44  3208.695924
2022-06-05  29869.33   32325.50  20000.00  29919.17  3295.354923
2022-06-06  29919.20   31410.78  29890.23  31240.30  1582.658607

In [36]:
# trying to pull data that goes further in the past
# which will not work
df = get_history(symbol = "BTCUSDT", interval = "1d", start = "2022-04-04")
df

                Open       High       Low     Close       Volume
Date
2022-05-04  38127.16   67952.01   9000.00  39695.80  3289.478889
2022-05-05  39690.01   48256.09  12000.00  36551.04  3747.859117
2022-05-06  36552.97   90000.00   9500.00  35844.54  5133.878780
2022-05-07  35851.70  179685.00   2000.00  35472.39  2648.748370
2022-05-08  35472.40  172120.00   6988.00  34035.00  5928.739345
2022-05-09  34036.87   44600.00   6392.00  30092.43  7687.567239
2022-05-10  30089.10   34490.00  10000.00  31017.10  8559.000857
2022-05-11  31016.84  158649.00   5937.00  29098.29  8773.143745
2022-05-12  29098.29   30194.46  10000.00  29025.46  9821.112945
2022-05-13  29022.22   31964.11  28754.13  29288.26  8210.951714
2022-05-14  29288.99  152952.00   5838.00  30086.77  6489.599720
2022-05-15  33984.05   35000.00  21000.00  31328.98  5625.642137
2022-05-16  31328.23  148147.00   6631.29  29871.54  6804.244276
2022-05-17  29871.54   48000.00   6022.00  30444.94  6071.756804
2022-05-18  30444.94   30834.66   9000.00  28710.27  6554.023293
2022-05-19  28715.33   31163.79  23558.00  30319.22  6253.121553
2022-05-20  30319.23   31366.00  28683.55  29201.48  5598.040129
2022-05-21  29201.00   29703.60  28641.57  29445.68  3210.518881
2022-05-22  29445.06   31372.36  28923.96  30295.97  3279.107508
2022-05-23  30293.93   30806.88  28881.97  29106.13  5096.717246
2022-05-24  29106.13   29822.91  28598.35  29654.59  4490.516800
2022-05-25  29654.54   30805.14  28404.13  29542.14  4544.432436
2022-05-26  29542.14   30859.00  28124.42  29212.90  4975.662640
2022-05-27  29212.90   29913.32  27851.89  28620.04  5914.566329
2022-05-28  28620.04   29250.81   6200.00  29031.34  2819.916723
2022-05-29  29031.33   29586.95  28745.26  29468.09  2298.309841
2022-05-30  29468.09  100000.00   9000.00  31734.22  4597.434938
2022-05-31  31734.23   32493.86  31128.88  31798.95  5161.738498
2022-06-01  31798.95   55291.65   9000.00  29800.58  5645.437119
2022-06-02  29800.58   30656.20  10000.00  30452.70  5311.903761
2022-06-03  30452.63   32255.14  29299.88  29701.41  5001.490344
2022-06-04  29701.41   30564.10  29490.62  29865.44  3208.695924
2022-06-05  29869.33   32325.50  20000.00  29919.17  3295.354923
2022-06-06  29919.20   31410.78  29890.23  31240.30  1582.658607

## Streaming Market Data from the Testnet API

In [37]:
from binance import ThreadedWebsocketManager

In [38]:
# callback function already used in 06-Streaming-Market-Data
def stream_data(msg):
    ''' define how to process incoming WebSocket messages '''
    # select event time and transform it to datetime
    # see image above for data rows
    time = pd.to_datetime(msg["E"], unit = "ms")
    # save close price
    price = msg["c"]
    
    print("Time: {} | Price: {}".format(time, price))

In [39]:
# initialize and start the WebSocket
twm = ThreadedWebsocketManager()
twm.start()

In [40]:
twm.start_symbol_miniticker_socket(callback = stream_data, symbol = "BTCUSDT")
# this does not seem to use the Testnet

'btcusdt@miniTicker'

In [41]:
twm.stop()